body {
	background: #9aafb3;
	font-family: 'Source Sans Pro', Helvetica, Arial, Sans-Serif;
	font-weight: 300;
	text-align: center;
}

.wf-loading h1,
.wf-loading h2,
.wf-loading p {
  opacity: 0;
}

h1 {
	font-size: 72px;
	font-weight: 700;
	letter-spacing: -2px;
	color: #fff;
	margin: 0;
}

a:link,
a:visited {
	color: #fff;
	background: #8fa3a7;
	text-decoration: none;
	padding: 3px 6px;
}

p {
	color: #E0E0E0;
	line-height: 1.5em;
}

article {
  align-items: center;
  color: #3d3535;
  display: flex;
  font-family: "niveau-grotesk",sans-serif;
  height: 100%;
  justify-content: center;
  margin: 150px auto 0;
  position: relative;
  text-align: left;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

section {
  > * {
    @include transition(all 2s ease-out);
  }
}

span.em { color: #e0e0e0; }
